proxmox_api_url = https://192.168.29.29:8006/#v1:0:18:4:5:=contentIso:::8:=consolejs:=apitokens
proxmox_api_token_id = root@pam!ansibleT
proxmox_api_token_secret = 131cad3d-2b50-4b2e-8ba0-3c37caa6a3de
